body {
    background-color:#363062;
}

.modal-backdrop.show{
    opacity: 0.8;
}

hr {
    border-top: 1px solid rgb(192,192,192, 0.3);
}

/********** Landing page **********/
.landing-wrapper {
    border: 1px solid #FAFAFA;
    margin: 0 auto;
    width: 80%;
    max-width: 30rem;
    text-align: center;
    background-color: #FAFAFA;
    border-radius: 0.5rem;
    padding: 2rem;
    /* Center form */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

.logo {
    padding-bottom: 0.3rem;
    font-size: 3rem !important;
}

.app-name {
    font-weight: bold;
}

.landing-subtitle {
    margin-bottom: 1rem;
}

.landing-form .input-group {
    border-radius: 1rem;
    box-shadow: none;
    max-width: 20rem;
    margin: 1rem auto 0 auto;
}

.landing-form .input-group-text {
    border-right: none;
    background-color: #FFF;
    border-radius: 1rem
}

.landing-form .form-control {
    box-shadow: none;
    border-left: none;
    border-radius: 1rem;
}

.landing-form .form-control:focus {
    border-color: #CED4DA;
}

.landing-wrapper .btn-success, .register-form .btn-success {
    border-radius: 1rem;
    width: 8rem;
    margin: 1rem auto;
}

.register-or-login-text {
    font-size: 0.8rem;
}

.register-or-login-link {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #007bff;
    cursor: pointer;
}

.register-or-login-link:focus {
    outline: none;
}

.register-or-login-link:hover {
    color: #069;
    text-decoration: underline;
}

.register-form {
    position: relative;
}

.register-form .modal-header {
    padding-bottom: 1rem;
    border-bottom: 0;
}

.register-form .modal-content {
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;
}

.register-form .modal-header {
    margin: 0 auto;
}

.register-form .modal-footer {
    border-top: none;
    justify-content: center;
}

.register-form .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.register-form .close:focus {
    outline: none;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    top: 3.5rem;
    left: 5rem;
    position: absolute;
}

.form-row-wrapper {
    position: relative;
}

/********** Home page **********/
.main {
    height: 100vh;
    background-color: #F0F0F0;
}

/********** Home page: Side bar **********/
.sidebar-wrapper {
    height: 100vh;
    background-color: #563c5c;
    width: 18rem;
    padding: 1.5rem;
    color: #FFF;
    position: absolute;
    z-index: 2;
    overflow-y: hidden;
}

.sidebar-wrapper:hover {
    overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar {
    position: absolute;
    width: 0.5rem;
}

.sidebar-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 0.5rem;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 6px #EEE; 
    box-shadow: inset 0 0 6px #EEE; 
}

.sidebar-section {
    padding: 0 1rem;
    color: #C0C0C0;
    /* border-bottom: 0.5px solid rgb(192,192,192, 0.3); */
    width: 15rem;
    position: relative;
}

.sidebar-section .fa-caret-right{
    transform: rotate(0deg);
    transition: transform 0.1s linear;
}
  
.sidebar-section .fa-caret-right.open{
    transform: rotate(90deg);
    transition: transform 0.1s linear;
}

.sidebar-section h5 {
    padding: 0;
    margin: 0;
}

.sidebar-title {
    padding-right: 1rem;
    text-align: center;
    width: 15rem;
}

.icon {
    font-size: 1.4rem;
    margin-right: 0.2rem;
}

.add-icon {
    float: right;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    z-index: 1;
}

.add-icon:hover {
    color: #FFF;
}

.sidebar-link-wrapper {
    padding-left: 2rem;
}

.sidebar-link {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: #C0C0C0;
    font-weight: 500;
    margin-top: 0.6rem;
}

.sidebar-link:focus {
    outline: none;
}

.sidebar-link:hover {
    color: #F5F5F5;
}

.sidebar-link-wrapper h6 {
    position: relative;
}

.notification-wrapper {
    position: absolute;
    top: -0.25rem;
    right: 0.3rem;
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    background: #B80F0A;
    color: white;
}

.sidebar-dropdown {
    cursor: pointer;
    position: relative;
}

.sidebar-dropdown:hover {
    color: #FFF;
}

.link-wrapper {
    position: relative;
}

/********** Home page: Add Channel form **********/
.modal-wrapper .modal-header {
    border-bottom: none;
}

.modal-wrapper .modal-title {
    color: #FFF;
    text-shadow: 0.07rem 0.067rem #808080;
}

.modal-wrapper .modal-content {
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.modal-wrapper .close:focus {
    outline: none;
}

.modal-wrapper .close {
    color: #FFF;
}

.modal-wrapper .close:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem #E8E8E8;
}

.modal-wrapper .input-group {
    border-radius: 1rem;
    box-shadow: none;
    margin: 1rem auto 0 auto;
}

.modal-wrapper .input-group-text {
    border-right: none;
    background-color: #FFF;
    border-radius: 1rem
}

.modal-wrapper .form-control {
    box-shadow: none;
    border-left: none;
    border-radius: 1rem;
}

.modal-wrapper .form-control:focus {
    border-color: #CED4DA;
}

.modal-wrapper .modal-footer {
    border-top: none;
}

.modal-wrapper .cancel-btn {
    margin-left: 1.5rem;
}

.alert-message-wrapper .alert{
    position: absolute;
    width: 18rem;
    top: 0.5rem;
    left: 50%;
    margin-left: -7.5rem;
    text-align: center;
    z-index: 100;
}

.alert-dismissible .close:focus {
    outline: none;
}

/********** Home page: Header **********/
.header-wrapper {
    width: 100%;
    padding-left: 18rem;
    position: fixed;
    background-color: #FFF;
    height: 4rem;
    box-shadow: 0.5rem 0.5rem 0.8rem #E8E8E8;
    z-index: 1;
}

.header-wrapper .input-group {
    border-radius: 1rem;
    box-shadow: none;
    margin: 0 auto;
    width: 20rem;
    margin-top: 0.75rem;
}

.header-wrapper .input-group-text {
    border-right: none;
    background-color: #FFF;
    border-radius: 1rem
}

.header-wrapper .form-control {
    box-shadow: none;
    border-left: none;
    border-radius: 1rem;
}

.header-wrapper .form-control:focus {
    border-color: #CED4DA;
}

.search-results-wrapper {
    position: absolute;
    top: 3.1rem;
    width: 18rem;
    left: 50%;
    max-height: 15rem;
    overflow-y: auto;
    background-color: #FFF;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    box-shadow: 0.5rem 0.5rem 0.8rem #E8E8E8;
}

.search-result-wrapper {
    padding: 0.8rem;
    cursor: pointer;
}

.search-result-wrapper:hover {
    background-color: #F0F0F0;
}

.header-wrapper .logout-btn {
    background: none!important;
    border: none;
    padding: 0!important;
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    color: #563c5c;
}

/********** Home page: Body **********/
.body-wrapper {
    background-color: #F0F0F0;
    width: calc(100% - 18rem);
    height: calc(100% - 4rem);
    margin-top: 4rem;
    position: absolute;
    margin-left: 18rem;
    z-index: 0;
}

/********** Home page: Body : ChatBody **********/
.chat-body-wrapper {
    background-color: #FFF;
    box-shadow: 0.5rem 0.5rem 0.8rem #E8E8E8;
    margin: 1.5rem 1.5rem 1rem 1.5rem;
    border-radius: 5px;
    height: 27rem;
    padding: 2rem;
    position: relative;
    border: 1px solid #ced4da;
}

.date-wrapper {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

.date {
    width: 5rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    background-color: rgb(173,216,230, 0.4);
    margin: 0 auto;
}

.arrow-circle-down {
    font-size: 2rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.3rem;
    color: #DCDCDC;
    cursor: pointer;
}

.live-unread {
    position: absolute;
    background-color: red;
    padding: 0.1rem;
    border-radius: 90%;
    width: 1.8rem;
    text-align: center;
    right: 1.8rem;
    bottom: -0.5rem;
}

/********** Home page: Body : Message **********/
.messages {
    height: 100%;
    overflow-y: auto;
}

.message-container {
    display: flex;
}

.message-justify-end {
    justify-content: flex-end;
    margin-right: 0.5rem;
}

.message-box-purple {
    background-color: rgb(177,156,217, 0.3);
}

.message-box-grey {
    background-color: #F0F0F0;
}

.message-box {
    min-width: 5rem;
    width: fit-content;
    overflow-wrap: break-word;  
    border-radius: 0.5rem;
    max-width: 80%;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
}

.message-box h6, .message-box p {
    padding: 0;
    margin: 0;
}

.admin-message-box {
    width: fit-content;
    margin: 0.5rem auto;
    background-color: rgb(173,216,230, 0.4);
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
}

.admin-message-box p {
    padding: 0;
    margin: 0;
}

.time {
    float: right;
    font-size: 0.7rem;
    color: 	#808080;
}

.scroll::-webkit-scrollbar {
    width: 0.3rem;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.username-link {
    cursor: pointer;
}

.username-link:hover {
    text-decoration: underline;
}

.unread-message-container {
    margin: 0.5rem 0;
    background-color: rgb(245, 245, 245, 0.5);
    padding: 0.1rem;
}

.unread-message {
    text-align: center;
    margin: 0.3rem auto;
    padding: 0.2rem;
    background-color: #FFF;
    width: 10rem;
    border-radius: 1rem;
    font-size: 0.8rem;
}

/********** Home page: Body : ChatInput **********/
.chat-input-wrapper {
    background-color: #FFF;
    box-shadow: 0.5rem 0.5rem 0.8rem #E8E8E8;
    margin: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 5px;
    height: 3.5rem;
    position: relative;
    border: 1px solid #ced4da;
}

.chat-input-wrapper .input-group {
    margin-top: 0.6rem;
    border-radius: 1rem;
    box-shadow: none;
    float: right;
    width: 30rem;
    margin-right: 2rem;
}

.chat-input-wrapper .input-group-text {
    border-right: none;
    background-color: #FFF;
    border-radius: 1rem
}

.chat-input-wrapper .form-control {
    box-shadow: none;
    border-left: none;
    border-radius: 1rem;
}

.chat-input-wrapper .form-control:focus {
    border-color: #CED4DA;
}

.insert-emoticon-icon {
    position: absolute;
    z-index: 100;
    font-size: 2rem !important;
    top: 0.8rem;
    margin-left: 1.3rem;
    color: #808080;
    cursor: pointer;
}

.insert-emoticon-icon:hover {
    color: green;
}

.picker-wrapper {
    background-color: #FFF;
    width: 36.5rem;
    padding: 1rem;
    position: absolute;
    bottom: 6rem;
    left: 2.5rem;
    border-radius: 5px;
}

/********** Home page: Body : ChannelInfo **********/
.info-wrapper {
    margin: 1.5rem 1.5rem 1.5rem 0;
    border-radius: 5px;
}

.channel-info-title-wrapper h4 {
    margin: 0;
    font-weight: 640;
}

.channel-info-title-wrapper p {
    margin: 0;
}

.accordion .card {
    background-color: #FFF;
}

.channel-info-toggle {
    cursor: pointer;
}

.info-icons-wrapper button {
    background: none!important;
    border: none;
    padding: 0!important;
    position: absolute;
    top: 0.8rem;
    color: #563c5c;
}

.info-icons-wrapper .leave-btn {
    right: 1rem;
}

.info-icons-wrapper .star-btn {
    right: 3.8rem;
}

.block-btn-wrapper {
    text-align: center;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.btn-primary.join-channel-btn  {
    background-color: rgb(75,0,130, 0.8);
    border-color: rgb(75,0,130, 0.8);
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: rgb(75,0,130, 0.8);
    border-color: rgb(75,0,130, 0.8);
}

.btn-primary.join-channel-btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(153,102,204, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(153,102,204, 0.5);
}

.star {
    font-size: 1.5rem;
}

.orange {
    color: tomato;
}

/********** Home page: Body : EmptyState **********/
.empty-state-wrapper {
    background-color: #FFF;
    border-radius: 0.5rem;
    margin: 5.5rem 0rem 1.5rem 21rem;
    width: calc(100% - 24rem);
    height: calc(100% - 7rem);
    position: absolute;
    text-align: center;
    color: #A9A9A9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/********** Home page: Body : LoadingScreen **********/
.loading-screen {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.hidden {
    visibility: hidden;
}

.loading-icon {
    color: red !important;
}

/********** Channel List Wrapper **********/
.channel-list-wrapper {
    max-height: 30rem;
    overflow-y: auto;
}

.channel-list-item-wrapper {
    color: #000;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #FFF;
    box-shadow: 0.1rem 0.1rem 0.3rem #E8E8E8;
    cursor: pointer;
}

.channel-list-item-wrapper:hover {
    background-color: #EEEEEE;
}

.channel-list-scroll::-webkit-scrollbar {
    width: 0.3rem;
}

.channel-list-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #EEEEEE; 
    box-shadow: inset 0 0 6px #EEEEEE; ;
    border-radius: 0.5rem;
}

.channel-list-scroll::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 6px #EEEEEE; 
    box-shadow: inset 0 0 6px #EEEEEE; 
}

.channel-name {
    font-weight: bold;
    font-size: 1.15rem;
}

.channel-description {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    margin-top: 0.5rem; 
}

.channel-list-wrapper .h4.modal-title{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.wrapper-top {
    display: flex;
    justify-content: space-between;
}

/********** User Info **********/

.user-info-body {
    display: flex;
    justify-content: flex-start;        
}

.user-image-wrapper {
    text-align: center;
}

.user-image-wrapper img.rounded-circle {
    width: 15rem;
}

.empty-bio {
    font-style: italic;
    opacity: 0.8;
}

/********** Profile Body **********/
.flex-btns {
    display: flex;
    justify-content: space-evenly;
}

.inline-btn-wrapper {
    width: 50%;
}

.left {
    margin-right: 0.25rem;
}

.right {
    margin-left: 0.25rem;
}

/********** Profile Info **********/
.profile-info-image{
    display: inline-block;
    margin-right: 1rem;
    height: 2rem;
    cursor: pointer;
}

.unfriend-btn {
    right: 1rem;
    font-size: 1.2rem;
}

.profile-info-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.username {
    display: flex;
    justify-content: flex-start;
}

.username h4 {
    margin: 0;
    padding:0;
}

/********** Notifications **********/
.count-wrapper {
    background-color: #B80F0A;
    min-width: 1.5rem;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    margin-left: 1rem;
}